@import "tailwindcss";

@layer base {
  :root {
    color-scheme: light dark;
    -webkit-font-smoothing: antialiased;
  }

  body {
    @apply bg-white text-slate-800 dark:bg-slate-900 dark:text-slate-200;
    @apply font-sans text-base;
    margin: 0;
  }
}
